# Base de Datos
DATABASE_URL=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# Redis
REDIS_HOST=
REDIS_PORT=
REDIS_DB=

# Configuración de Seguridad y JWT
PRIVATE_KEY=
PUBLIC_KEY=
ALGORITHM=

# Configuración Regional
ECUADOR_TZ=