# Base de Datos
DATABASE_URL=postgresql+asyncpg://root:root@db:5432/master_gateway
POSTGRES_USER=root
POSTGRES_PASSWORD=root
POSTGRES_DB=master_gateway

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0

# Configuración de Seguridad y JWT
PRIVATE_KEY=../shared-keys/shared-keys-private/private.pem
PUBLIC_KEY=../shared-keys/shared-keys-public/public.pem
ALGORITHM=RS256

# Configuración Regional
ECUADOR_TZ=America/Guayaquil


#Frontend
VITE_API_AUTH_URL=http://localhost:8000/api
VITE_API_SALE_URL=http://localhost:8002/api
VITE_API_TIMEOUT=100000

# Microservicios
PORT_SALE=8002
PORT_AUTH=8000
PORT_FRONTEND=5173
